<footer class="site-footer small--text-center" role="contentinfo">
    <div class="wrapper">
        <ul>
            <li>IMAGE</li>
            <li>Got Questions?</li>
            <li>name@email.com</li>
        </ul>
    </div>
    <div class="wrapper">
        <ul>
            <li>Our Story</li>
            <li>Shop</li>
            <li>Contact</li>
            <li>Warranty</li>
            <li>Terms of Service</li>
            <li>Privacy Policy</li>
        </ul>
    </div>
</footer>