<header class="flex-container" role="banner">
    <div class="wrapper">
        <ul class="header-bar__module header-bar__module--list">
            <li>Shop</li>
            <li>Our Story</li>
            <li>LOGO</li>
            <li>Contact</li>
            <li>Cart</li>
        </ul>
    </div>
</header>