<div class='rowItem contactPage'>
    <div class='columnItem contactInfo'>
        <h3 class="outline united">{{ page.title }}</h3>
        <br>
        <h3 class="united">Write Us</h3>
        <p>Contact Form</p>
        <br>
        <h3 class="united">Follow Us</h3>
        <a target="_blank" href="https://www.instagram.com/mill.scale/?hl=en">Instagram</a>
    </div>
    <div class='columnItem contactForm'>
        <h3 class="outline contactLabel united">Send us a message</h3>
        {% form 'contact' %}
          {% if form.posted_successfully? %} Thank you for your contact {% endif %}
          {{ form.errors | default_errors }}
          <label for="ContactFormFirstName"></label>
          <input class=".inline" type="text" id="ContactFormFirstName" name="contact[firstName]" placeholder="First Name">
          <label for="ContactFormLastName"></label>
          <input class=".inline" type="text" id="ContactFormLastName" name="contact[lastName]" placeholder="Last Name">
          <label for="ContactFormEmail"></label>
          <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="Email">
          <label for="ContactFormSubject"></label>
          <input type="text" id="ContactFormSubject" name="contact[subject]" placeholder="Subject">
          <p>What are you interested in?</p>
          <p class="inline contactText"><input type="checkbox" id="ContactForm94Gallon" name="contact[94Gallon]">94 Gallon</p>
          <p class="inline contactText"><input type="checkbox" id="ContactForm500Gallon" name="contact[500Gallon]">500 Gallon</p>
          <p class="inline contactText"><input type="checkbox" id="ContactForm1000Gallon" name="contact[1000Gallon]">1000 Gallon</p>
          <p class="inline contactText"><input type="checkbox" id="ContactFormOpenFireGrill" name="contact[OpenFireGrill]">Open fire grill</p>
          <p class="inline contactText"><input type="checkbox" id="ContactFormYakitori" name="contact[Yakitori]">Yakitori</p>
          <p class="inline contactText"><input type="checkbox" id="ContactFormFirePit" name="contact[FirePit]">Fire pit</p>
          <p class="inline contactText"><input type="checkbox" id="ContactFormSantaMaria" name="contact[SantaMaria]">Santa Maria</p>
          <p class="inline contactText"><input type="checkbox" id="ContactFormShippingQuote" name="contact[ShippingQuote]">Shipping quote - include zip code</p>
          <label for="ContactFormMessage" id="MessageText">Message</label>
          <textarea rows="10" id="ContactFormMessage" name="contact[body]"></textarea>
          <input type="submit" value="Send" id="ContactSend" class="united">
        {% endform %}
    </div>
</div>
