<div>
    <div class='rowItem'>
        <div class='columnItem flexTwo'>
            <img src="//cdn.shopify.com/s/files/1/0467/0049/5015/t/5/assets/ourStory1.png?v=3093562416019652034" width="100%" height="80%">
        </div>
        <div class='columnItem'>
            <h1 style="color: #B39457;" class="outline united">{{ page.title }}</h1>
            <p class="outStory united" style="font-size: 2.5vmin">Matt and Caleb Johnson have been working together their entire lives. Growing up in a small central Texas town, they spent their summers sitting on overturned buckets in their dad’s auto-body shop, trading hot rod hood ornaments, and staging car-antenna sword fights while dodging sparks from the guys working nearby. There, they learned that if something needed to be fixed, they had to learn how to do it.</p>
        </div>
    </div>
    <div class='rowItem reOrder'>
         <div class='columnItem orderedItem'>
            <p class="outStory united">One year, Matt got a small MIG welding machine for his birthday and set out to learn how to use it. By 2012, Matt and Caleb were self-taught welders working together in a custom fabrication shop in Austin, TX. Notably, they spent five years building custom barbecue smokers and other fire based cooking devices for some of the biggest names in barbecue.</p>
        </div>
        <div class='columnItem orderedItem'>
            <img class="lazyload" data-src="//cdn.shopify.com/s/files/1/0467/0049/5015/files/OurStory_2_d9471a94-30ab-4308-b9eb-8f1130b6551f.png?v=1611687528" width="100%" height="80%">
        </div>
    </div>
    <div class='rowItem'>
        <div class='columnItem'>
            <img class="lazyload" data-src="//cdn.shopify.com/s/files/1/0467/0049/5015/files/OurStory_1_6be19277-d7a5-41f2-92da-a74a4237242b.png?v=1611687528" width="100%" height="80%">
        </div>
        <div class='columnItem'>
            <p class="outStory united">While focusing on metal fabrication, heat, and smoke, the Johnson brothers came to understand the demands of learning the welding trade, and how to manage a fire. Both require discipline, adaptability, and time. And at the end of the day, you’ve just got to have the heat right.</p>
        </div>
    </div>
    <div class='rowItem' style="padding: 0 5% 5% 5%">
        {% comment %} <div class="noPaddingRight" style="padding-right: 5%">
            <img class="lazyload" data-src="//cdn.shopify.com/s/files/1/0467/0049/5015/files/Mask_Group_2_2x_6e553553-63d2-4bf2-8563-d7b3f75e86fe.png?v=1611684333" width="100%" height="80%">
        </div> {% endcomment %}
        <div>
            <img class="lazyload" data-src="//cdn.shopify.com/s/files/1/0467/0049/5015/files/Photo_Jul_21_13_20_17_2x_dd7356dc-5373-4e62-b2c1-c90384cdce40.png?v=1611684344" width="100%" height="80%">
        </div>
    </div>
</div>