<h1>{{ page.title }}</h1>
<div>
    <div class='row'>
        <div class='column'>
            <img src="//cdn.shopify.com/s/files/1/0467/0049/5015/t/5/assets/ourStory1.png?v=3093562416019652034" width="100%" height="80%">
        </div>
        <div class='column'>
        Matt and Caleb Johnson have been working together their entire lives. Growing up in a small central Texas town, they spent their summers sitting on overturned buckets in their dad’s auto-body shop, trading hot rod hood ornaments, and staging car-antenna sword fights while dodging sparks from the guys working nearby. There, they learned that if something needed to be fixed, they had to learn how to do it.
        </div>
    </div>

    <br/>

    <div class='row'>
        <div class='column'>
            <img src="//cdn.shopify.com/s/files/1/0467/0049/5015/t/5/assets/ourStory2.png?v=4273234282579234453" width="100%" height="80%">
        </div>
        <div class='column'>
        One year, Matt got a small MIG welding machine for his birthday and set out to learn how to use it. By 2012, Matt and Caleb were self-taught welders working together in a custom fabrication shop in Austin, TX. Notably, they spent five years building custom barbecue smokers and other fire based cooking devices for some of the biggest names in barbecue.
        </div>
    </div>

    <br/>

    <div class='row'>
        <div class='column'>
            <img src="//cdn.shopify.com/s/files/1/0467/0049/5015/t/5/assets/ourStory3.png?v=14593416370857291836" width="100%" height="80%">
        </div>
        <div class='column'>
        While focusing on metal fabrication, heat, and smoke, the Johnson brothers came to understand the demands of learning the welding trade, and how to manage a fire. Both require discipline, adaptability, and time. And at the end of the day, you’ve just got to have the heat right.
        </div>
    </div>
</div>