<div class='row'>
    <div class='column'>
        <img src="//cdn.shopify.com/s/files/1/0467/0049/5015/t/5/assets/givingBack.png?v=6138282548351426269" width="100%" height="80%">
    </div>
    <div class='column'>
        <h1>{{ page.title }}</h1>
        The impact of COVID-19 has been felt across the globe, and our friends in the service industry were hit hard. We wanted to help out where we could, and put together a raffle to raise funds for the Southern Smoke Foundation. We were overwhelmed by the support of our friends who wanted to donate items to the raffle. We raised $41,460 for Southern Smoke, and that money was put directly into the hands of folks in the service industry who need help the most.        </div>
    </div>
</div>